@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #efedd6;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 50px;
}

h1 {
  margin: 10px;
}

.box {
  background-color: steelblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  margin: 10px;
  border-radius: 30px;
  box-shadow: 2px 8px 24px rgba(0, 0, 0, 0.2);

  /* implement the animation type here */
  /* move the element to right by 200% */
  transform: translateX(200%);
  transition: all 400ms ease;

  opacity: 0;
  /* transition: opacity 700ms ease-in; */
}

/* move even childrens to left by 200 */
.box:nth-of-type(even) {
  transform: translateX(-200%);
}

.box.show {
  transform: translateX(0);
  opacity: 1;
}

.box h2 {
  font-size: 45px;
}
